@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>

<TextEdit Placeholder="Some text value..."/>

<PrimaryButton HandleClick="Click"></PrimaryButton>

@code {

    private string PrimaryBtnText;
    private void Click()
    {
        PrimaryBtnText = "Button Clicked";
    }
}